.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 208px;
  z-index: 50;
  background-color: var(--color-dark);
  transition: height 0.3s ease;
}

.headerScrolled {
  height: 120px;
}

.logo svg {
  transition: height 0.3s ease, width 0.3s ease;
}

.headerScrolled .logo svg {
  height: 65px;
  width: auto;
}

.nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.linkList {
  display: flex;
  align-items: center;
  gap: 77px;
}

.link {
  font-family: var(--font-archivo);
  font-stretch: expanded;
  font-weight: 400;
  font-size: 29px;
  letter-spacing: 0.025em;
  transition: color 0.15s;
  color: #fff;
}

.link:hover {
  color: var(--color-accent);
}

.linkActive {
  font-weight: 700;
}

.logo {
  display: flex;
  align-items: center;
}
