.section {
  padding: 6rem 0;
  background-color: #fff;
}

.inner {
  text-align: center;
}

.phrase {
  font-family: var(--font-archivo);
  font-stretch: expanded;
  font-size: 1.875rem;
  font-weight: 700;
  color: var(--color-dark);
  line-height: 1.25;
  margin-bottom: 3rem;
}

@media (min-width: 1024px) {
  .phrase {
    font-size: 2.25rem;
  }
}
